.root {
    window-background: rgba(168, 136, 98, 1);
    sidebar-background: rgba(245, 222, 179, 1)
}

#puzzle-pane, #menu-pane {
    -fx-background-color: window-background;
}

#shadow-pane {
    -fx-background-color: rgba(0, 0, 0, 0.3);
}

#sidebar-pane {
    -fx-background-color: sidebar-background;
}

#sidebar-button, #new-game-button, #main-menu-button, #resume-game-button {
    -fx-background-color: gray;
}
